<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport"content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
		<script src="vue.min.js"></script>
		<link rel="stylesheet"href="a.css"/>
		<script src="a.js"></script>
	</head>
	<body>
		<div id="app"@touchmove.prevent>
			<transition name="nf">
				<div class="frm"v-show="ps=='menu'">
					<h1>N Squared Minus One</h1>
					<div class="btn b1":style="{width:wbtn}"@click="initGame();ps='game'">Start</div><br/>
					<div class="btn b1":style="{width:wbtn}"@click="loadRec();ps='statistics'">Statistics</div><br/>
					<div class="btn b1":style="{width:wbtn}"@click="ps='settings'">Settings</div>
				</div>
			</transition>
			<transition name="nf">
				<div class="frm"v-show="ps=='game'">
					<span class="btn"@click="ps='menu'">Back</span>
					<span class="btn"@click="initGame(1)">Restart</span>
					<span class="btn"@click="initGame()">New Game</span>
					<div style="height:10%;margin:3px">
						<table style="margin:auto;font-size:inherit;width:200px;text-align:center">
							<tr>
								<td style="width:50%">Steps</td>
								<td style="width:50%">{{stp}}</td>
							</tr>
							<tr>
								<td>Time</td>
								<td>{{tm}}s</td>
							</tr>
						</table>
					</div>
					<table class="gt":style="{width:wd,height:wd}">
						<tr v-for="i of n":style="{height:ew}">
							<td class="tile"v-for="j of n"@click="move(i-1,j-1)":style="{width:ew,opacity:a[(i-1)*n+j-1]?1:0}">
								{{calc(i-1,j-1)}}
							</td>
						</tr>
					</table>
				</div>
			</transition>
			<transition name="nf">
				<div class="frm"v-show="ps=='statistics'">
					<span class="btn"@click="ps='menu'">Back</span>
					<table style="margin:auto;font-size:inherit;width:300px;text-align:center">
						<tr>
							<td style="width:70%">Least Move(s)</td>
							<td>{{recMove}}</td>
						</tr>
						<tr>
							<td>Minimum Time</td>
							<td>{{recTime}}s</td>
						</tr>
					</table>
				</div>
			</transition>
			<transition name="nf">
				<div class="frm"v-show="ps=='settings'">
					<span class="btn"@click="ps='menu'">Back</span><br/>
					<input v-model.number="n"@change="saveConfig"/>
				</div>
			</transition>
		</div>
		<script>
			var vm=new Vue({
				el:'#app',
				data:{
					ps:'menu',
					n:Number(localStorage.n) || 3,
					a:[],
					b:[],
					stp:0,
					tm:0,
					gs:0,
					recMove:'',
					recTime:'',
					wd:'300px',
					wbtn:'33%'
				},
				computed:{
					ew:function(){
						return Math.floor(99/this.n+1e-6)+'%'
					}
				},
				methods:{
					calc:function(i,j){
						var ans=this.a[i*this.n+j]
						return ans?ans:''
					},
					loadRec:function(){
						this.recMove=this.recTime='Emm...'
						if (localStorage.rec){
							var rec=JSON.parse(localStorage.rec)
							if (rec[this.n]){
								this.recMove=rec[this.n].m
								this.recTime=rec[this.n].t
							}
						}
					}
				}
			})
			with (document.documentElement){
				var flag=clientWidth<clientHeight
				vm.wbtn=flag?'80%':'33%'
			}
		</script>
	</body>
</html>